
.event-card
  background-color: white
  .event-cover
    position: relative
  .event-details
    padding: 1rem
  .dept-name
    font-size: 0.8rem
    display: inline-block
    font-weight: 900
  h4
    font-weight: 900
    font-size: calc(1.2rem + 0.5vw)
    margin-bottom: 0.5rem
  p
    font-size: 0.8rem
    margin: 0
  .price
    font-size: calc(0.8rem + 0.3vw)
    font-weight: 900
    margin-bottom: 0.5rem
  button
    margin: 0.5rem
    border-radius: 0
    border: none
    font-size: 0.9rem
    font-weight: 900
    font-family: 'Montserrat', sans-serif
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3)
  button:hover
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2)
  .details-btn
    background-color: #1976D2
  .register-btn
    background-color: #D4E157
    color: black

  .event-card-badges
    position: absolute
    bottom: 1rem
    left: 0.5rem
    span
      font-size: 0.8rem
      border-radius: 10px
      padding: 0.5rem 1rem
      font-weight: 900
      box-shadow: 3px 5px 15px rgba(0,0,0,0.5)
      margin-right: 0.5rem
    .new-badge
      background-color: yellow
      color: black
    .recommend-badge
      background-color: #D32F2F
      color: white
