.event-header-card
  .event-cover
    background-size: cover
  .event-details
    h1
      font-size: calc(1.3rem + 1.6vw)
      text-transform: uppercase
      background: -webkit-linear-gradient(#01579B,#512DA8)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
