#dashboard-listing
  .listing-type-selector
    position: sticky
    top: 10vh
    z-index: 6000
    padding: 1rem 0.5rem
    background-color: #eee
    .topbar-search
      input
        border-radius: 0
        font-size: calc(0.7rem + 0.3vw)
    .mobile-search-options
      position: absolute
      right: 0.15rem
    .listing-mobile-filter-button, .listing-mobile-search-button
      padding: 0.35rem 0.5rem
      img
        width: 20px
    button
      background: white
      padding: 0.5rem
      margin-right: 0.25rem
      border: none
      font-size: calc(0.6rem + 0.2vw)
    .selected
      font-weight: 900
  .desktop-filter-sidebar
    position: sticky
    top: 10vh
  .footer-filter
    position: fixed
    width: 100%
    padding: 1rem
    bottom: 0
    z-index: 5000
    .footer-filter-container
       border-radius: 0.5rem
       font-size: calc(0.8rem + 0.3vw)
       padding: 1rem 2rem 30vh 2rem
       box-shadow: 5px 5px 25px rgba(0,0,0,0.5)
       background: #eee


