#dashboard-wrapper
  .section-heading
    font-size: calc(1rem + 0.3vw)
    color: #666
    margin: 1rem 0
    font-weight: 900

.profile-completion-item
  display: flex
  padding: 1.2rem
  cursor: pointer
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3)

  div:first-child
    width: 15%
    display: flex
    align-items: center
    justify-content: center

  div:last-child
    width: 80%
    padding: 0 0.8rem
    h6
      font-size: calc(1rem + 0.3vw)
      font-weight: 900
      margin-bottom: 0.5rem
    p
      font-size: 0.8rem
      margin-bottom: 0

.profile-completion-item:hover
  box-shadow: 1px 6px 4px rgba(0,0,0,0.3)


.srx-card
  margin: 1rem 0.5rem
  .title-area
    padding: 1rem
    background: #1565C0
    h4
      font-weight: 900
      margin: 0
      color: white
  .footer-area
    padding: 1rem
    display: flex
    background: #1565C0
    button
      font-weight: 900
      background: white
      color: black
      box-shadow: 5px 2px 15px rgba(0,0,0,0.5)
      border-radius: 3rem
      padding: 0.5rem 1rem


.quick-action-card
  background: white
  border: 0
  padding: calc(1rem + 0.5vw)
  height: 100%
  width: 100%
  border-radius: 1rem
  position: relative
  transition: 1s
  .offer
    position: absolute
    left: -0.5rem
    top: 1.5rem
    padding: 0.3rem 0.8rem
    font-size: calc(0.6rem + 0.3vw)
    border-radius: 5px
    background: green
    color: white
  img
    width: 100%
  h6
    font-weight: 900
    font-size: calc(0.8rem + 0.5vw)
    margin-bottom: 0.5rem
  p
    font-size: calc(0.5rem + 0.5vw)
    margin: 0


.quick-action-card:hover
  transform: translateY(-1vh)
  transition: 1s

@keyframes gradientBG
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%

.bg-gradient
  background: linear-gradient(to right, #0052D4, #8E54E9, #2657eb)!important
  animation: gradientBG 5s ease infinite!important
  background-size: 1000vh 300vw!important

#profile-completion-prompt, #admin-access-prompt
  padding: 2rem
  color: white
  margin: 2rem
  button
    background-color: white
    border: none
    font-weight: 900
    color: black
  h3
    font-weight: 900

#profile-completion-prompt
  background-color: #1565C0
  button
    color: #1565C0

#admin-access-prompt
  background-color: #00BFA5
  button
    color: #00BFA5


footer
  padding: 5vh 2vw