@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap')

body
  overflow-x: hidden
  font-size: 1.2rem
  font-family: 'Montserrat', sans-serif
  background: #eee

img
  max-width: 100%

.card-shadow
  background-color: white
  box-shadow: 3px 1px 10px rgba(0,0,0,0.3)

nav
  padding: 1rem
  background-color: white
  box-shadow: 10px 0 15px rgba(0,0,0,0.6)
  position: sticky
  top: 0
  z-index: 9000

.amfoss-credit
  div
    font-size: 0.8rem
    margin: 0
  img
    width: 120px